<template name="appLayout">
    {{> yield "top" }}
  
    {{> yield "aside" }}
    <div class="pusher">
        {{> header}}
    {{> yield}}
    </div>
</template>

<template name="header">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item"> <i class="sidebar icon"></i>
                </a>

                <a class="item js-new-list">
                    <span class="icon-plus"></span>
                    New List
                </a>
                {{#each lists}}
                <a href="{{pathFor 'listsShow'}}" class="item {{activeClass}}" title="{{name}}">
                <!-- {{#if userId}}
                <span class="icon-lock"></span>
                {{/if}}
                {{#if incompleteCount}}
                <span class="count-list">{{incompleteCount}}</span>
                {{/if}} -->
                {{name}}
                </a>
                {{/each}}
                <div class="right item">
                    {{#if currentUser}}
                    <div class="btns-group-vertical">
                        <a href="#" class="js-user-menu btn-secondary">
                            {{#if userMenuOpen}}
                            <span class="icon-arrow-up"></span>
                            {{else}}
                            <span class="icon-arrow-down"></span>
                            {{/if}}
                    {{emailLocalPart}}
                        </a>
                        {{#if userMenuOpen}}
                        <a class="js-logout btn-secondary">Logout</a>
                        {{/if}}
                    </div>
                    {{else}}
                    <div class="item">
                        <a href="{{pathFor 'signin'}}" class="ui button login">Log in</a>
                    </div>
                    <div class="item">
                        <a href="{{pathFor 'signup'}}"  class="ui primary button">Sign Up</a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">Imagine-a-Company</h1>
            <h2>Do whatever you want when you want to.</h2>
            {{#linkTo route="pictures" query="q=s" hash="frag"}}
            <div class="ui huge primary button">
                Get Started <i class="right arrow icon"></i>
            </div>
            {{/linkTo}}
        </div>
    </div>
</template>

<!-- Following Menu -->
<template name="topFollowMenu">
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        {{#each lists}}
            <a href="{{pathFor 'listsShow'}}" class="item {{activeClass}}" title="{{name}}">
            <!-- {{#if userId}}
            <span class="icon-lock"></span>
            {{/if}}
            {{#if incompleteCount}}
            <span class="count-list">{{incompleteCount}}</span>
            {{/if}} -->
            {{name}}
            </a>
        {{/each}}
        <div class="right menu">
            {{#if currentUser}}
            <div class="btns-group-vertical">
                <a href="#" class="js-user-menu btn-secondary">
                    {{#if userMenuOpen}}
                    <span class="icon-arrow-up"></span>
                    {{else}}
                    <span class="icon-arrow-down"></span>
                    {{/if}}
            {{emailLocalPart}}
                </a>
                {{#if userMenuOpen}}
                <a class="js-logout btn-secondary">Logout</a>
                {{/if}}
            </div>
            {{else}}
            <div class="item">
                <a href="{{pathFor 'signin'}}" class="ui button login">Log in</a>
            </div>
            <div class="item">
                <a href="{{pathFor 'signup'}}"  class="ui primary button">Sign Up</a>
            </div>
            {{/if}}
        </div>
    </div>
</div>
</template>

<!-- Sidebar Menu -->
<template name="slidebarMenu">
<div class="ui vertical inverted sidebar menu">
    {{#if currentUser}}
    <div class="btns-group-vertical">
        <a href="#" class="js-user-menu btn-secondary">
            {{#if userMenuOpen}}
            <span class="icon-arrow-up"></span>
            {{else}}
            <span class="icon-arrow-down"></span>
            {{/if}}
            <h2 class="ui center aligned icon header">
                <i class="circular users icon"></i>
                {{userName}}
            </h2>
        </a>
        {{#if userMenuOpen}}
        <a class="js-logout btn-secondary">Logout</a>
        {{/if}}
    </div>
    {{else}}
    <h2 class="ui center aligned icon header">
        <i class="circular users icon"></i>
        <a href="{{pathFor 'signin'}}" class="ui button login">Log in</a>
        <a href="{{pathFor 'signup'}}"  class="ui primary button">Sign Up</a>
    </h2>
    {{/if}}
    {{#each lists}}
        <a href="{{pathFor 'listsShow'}}" class="item {{activeClass}}" title="{{name}}">
        <!-- {{#if userId}}
        <span class="icon-lock"></span>
        {{/if}}
        {{#if incompleteCount}}
        <span class="count-list">{{incompleteCount}}</span>
        {{/if}} -->
        {{name}}
        </a>
    {{/each}}
    <!-- <a class="item">Login</a>
<a class="item">Signup</a>
-->
</div>
</template>