<template name="cart">
	<div class="section page-content clearfix">

		<h2 class="page-title">Cart</h2>
		
		<form method="post" action="#" >
		
			<div class="tag-title-wrap clearfix">
				<h4 class="tag-title">Your Order</h4>
			</div>
		
			<table width="100%" class="account-table">
				<thead>
					<tr>
						<th>Product #</th>
						<th>Product Name</th>
						<th>Qty</th>
						<th>Totals</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-title="Product #">0123</td>
						<td data-title="Product Name">Summer Berry Candle Set</td>
						<td data-title="Qty" class="qty-table">	
							<div class="qty-fields">
								<input type="text" maxlength="12" class="qty-text" size="4" value="1" name="quantity-0123" />
							</div>
						</td>
						<td data-title="Totals">£149.97</td>
						<td data-title="Remove"><input type="checkbox" name="remove-item" value="0123" /></td>
					</tr>
					<tr>
						<td data-title="Product #">0123</td>
						<td data-title="Product Name">Summer Berry Candle Set</td>
						<td data-title="Qty" class="qty-table">	
							<div class="qty-fields">
								<input type="text" maxlength="12" class="qty-text" size="4" value="1" name="quantity-0123" />
							</div>
						</td>
						<td data-title="Totals">£149.97</td>
						<td data-title="Remove"><input type="checkbox" name="remove-item" value="0123" /></td>
					</tr>
					<tr>
						<td data-title="Product #">0123</td>
						<td data-title="Product Name">Summer Berry Candle Set</td>
						<td data-title="Qty" class="qty-table">	
							<div class="qty-fields">
								<input type="text" maxlength="12" class="qty-text" size="4" value="1" name="quantity-0123" />
							</div>
						</td>
						<td data-title="Totals">£149.97</td>
						<td data-title="Remove"><input type="checkbox" name="remove-item" value="0123" /></td>
					</tr>
					<tr>
						<td data-title="Product #">0123</td>
						<td data-title="Product Name">Summer Berry Candle Set</td>
						<td data-title="Qty" class="qty-table">	
							<div class="qty-fields">
								<input type="text" maxlength="12" class="qty-text" size="4" value="1" name="quantity-0123" />
							</div>
						</td>
						<td data-title="Totals">£149.97</td>
						<td data-title="Remove"><input type="checkbox" name="remove-item" value="0123" /></td>
					</tr>
				</tbody>
			</table>
			
			<!-- BEGIN .clearfix -->
			<div class="cart-options clearfix">
		
				<div class="coupon-form clearfix fl">
					<input type="text" class="coupon-code text_input" name="coupon-code" value="" />
					<input class="button2 fr" style="margin: 2px 0 0 10px;" type="button" value="Apply Coupon &raquo;" name="submit" />
				</div>
		
				<div class="cart-buttons fr">
					<input class="button2 fl" style="margin: 2px 10px 0 0;" type="button" value="Update Cart &raquo;" name="submit" />
					<input class="button2 fr" style="margin: 2px 0 0 0;" type="submit" value="Proceed to Checkout &raquo;" name="submit" />
				</div>
			
			<!-- END .clearfix -->
			</div>
		
		</form>
		
		<hr />
		
		<div class="form-third">
		
			<div class="tag-title-wrap clearfix">
				<h4 class="tag-title">Total</h4>
			</div>
		
			<table width="100%" class="account-table">
				<tbody>
					<tr>
						<td><strong>Subtotal</strong></td>
						<td>£599.88</td>
					</tr>
					<tr>
						<td><strong>Shipping</strong></td>
						<td>Free Shipping</td>
					</tr>
					<tr>
						<td><strong>Order Total</strong></td>
						<td>£599.88</td>
					</tr>
				</tbody>
			</table>
		
			<input class="button2 fr" type="submit" value="Proceed to Checkout &raquo;" id="submit" name="submit" />
		
		</div>

	<!-- END .section -->
	</div>
</template>