<template name="order">
	<div class="section page-content clearfix">

		<h2 class="page-title">My Account</h2>

		<p>
			Hello, username. Welcome to your account area where you can view recent orders, modify your billing details and delivery addresses. If you would like to return a product please see our
			<a href="#">returns page</a>
			and then
			<a href="#">contact us</a>
		</p>

		<div class="tag-title-wrap clearfix">
			<h4 class="tag-title">Recent Orders</h4>
		</div>

		<table width="100%" class="account-table">
			<thead>
				<tr>
					<th>Product #</th>
					<th>Date</th>
					<th>Deliver To</th>
					<th>Total</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-title="Product #">0123</td>
					<td data-title="Date">Aug 20, 2012</td>
					<td data-title="Deliver To">Apartment 21, 1 Main Road, London, UK</td>
					<td data-title="Total">£249.99</td>
					<td data-title="Status">
						Pending
						<a href="#" class="button2">View &raquo;</a>
					</td>
				</tr>
				<tr>
					<td data-title="Product #">0123</td>
					<td data-title="Date">Aug 20, 2012</td>
					<td data-title="Deliver To">Apartment 21, 1 Main Road, London, UK</td>
					<td data-title="Total">£249.99</td>
					<td data-title="Status">
						Pending
						<a href="#" class="button2">View &raquo;</a>
					</td>
				</tr>
				<tr>
					<td data-title="Product #">0123</td>
					<td data-title="Date">Aug 20, 2012</td>
					<td data-title="Deliver To">Apartment 21, 1 Main Road, London, UK</td>
					<td data-title="Total">£249.99</td>
					<td data-title="Status">
						Pending
						<a href="#" class="button2">View &raquo;</a>
					</td>
				</tr>
				<tr>
					<td data-title="Product #">0123</td>
					<td data-title="Date">Aug 20, 2012</td>
					<td data-title="Deliver To">Apartment 21, 1 Main Road, London, UK</td>
					<td data-title="Total">£249.99</td>
					<td data-title="Status">
						Pending
						<a href="#" class="button2">View &raquo;</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="tag-title-wrap clearfix">
			<h4 class="tag-title">My Addresses</h4>
		</div>

		<p>
			The addresses stored here will be automatically applied as the default address for all orders placed unless an alternative is provided on the checkout page
		</p>

		<ul class="columns-2 clearfix">
			<li class="col2">

				<div class="tag-title-wrap clearfix">
					<h4 class="tag-title">Billing Addresses</h4>
				</div>

				<p>
					Mike Jones
					<br />
					Flat 907
					<br />
					Chunking Mansions
					<br />
					Tsim Sha Tsui
					<br />
					Hong Kong
					<br />
					China
				</p>

			</li>

			<li class="col2">

				<div class="tag-title-wrap clearfix">
					<h4 class="tag-title">Shipping Addresses</h4>
				</div>

				<p>
					Mike Jones
					<br />
					Flat 907
					<br />
					Chunking Mansions
					<br />
					Tsim Sha Tsui
					<br />
					Hong Kong
					<br />
					China
				</p>

			</li>
		</ul>

		<!-- END .section -->
	</div>
</template>