<template name="pictures1">
	<!-- header -->
	<div class="following bar">
		<div class="ui inverted vertical masthead center aligned segment">

			<div class="ui secondary inverted pointing menu">
				<a class="needsclick toc item"> <i class="sidebar icon"></i>
				</a>
				<a class="needsclick toc item">HOME</a>
				{{#if isInRole 'admin' 'web-owner'}}
				<a class="needsclick item js-new-nav">
					<span class="icon-plus"></span>
					New List
				</a>
				{{/if}}
                    {{> navsList}}
				<div class="right item">
					<div class="needsclick item">
						<div class="ui inverted icon input search"> <i class="search icon"></i>
							<input type="text" width="100px" placeholder="Search"></div>
					</div>
					<div class="needsclick item">
						<div class="ui floating dropdown icon">
							<i class="options icon"></i>
							<div class="menu">
								<div class="item" data-value="Save Post">
									<i class="save icon"></i>
									Save Post
								</div>
								<div class="item" data-value="Edit Post">
									<i class="edit icon"></i>
									Edit Post
								</div>
								<div class="item" data-value="Remove Post">
									<i class="delete icon"></i>
									Remove Post
								</div>
								<div class="item" data-value="Hide Post">
									<i class="hide icon"></i>
									Hide Post
								</div>
							</div>
						</div>
					</div>
					<div class="needsclick toc item">
						<div class="ui floating dropdown icon">
							<i class="options icon"></i>
							<div class="menu">
								<div class="item" data-value="Save Post">
									<i class="save icon"></i>
									Save Post
								</div>
								<div class="item" data-value="Edit Post">
									<i class="edit icon"></i>
									Edit Post
								</div>
								<div class="item" data-value="Remove Post">
									<i class="delete icon"></i>
									Remove Post
								</div>
								<div class="item" data-value="Hide Post">
									<i class="hide icon"></i>
									Hide Post
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="ui vertical stripe segment">
	<div class="ui container">
		<h2 class="ui dividing header">
			pics
		</h2>
		<br/>
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<!-- {{#each pictureLists}} -->
				<section>
					<div class="mini-posts">

						<!-- Mini Post -->
							<article class="mini-post">
								<header>
									<h3><a href="#">Vitae sed condimentum</a></h3>
									<time class="published" datetime="2015-10-20">October 20, 2015</time>
									<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
								</header>
								<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
							</article>
						

					</div>
				</section>
				
				{<!-- {else}}
					not found
				{{/each}} -->
				<div class="map-container">{{> googleMap name="exampleMap" options=exampleMapOptions}}</div>
			</div>
		</div>
	</div>
</div>
</template>