<template name="home">

	<!-- Main -->
	<div id="main">
		<h3>今日热点</h3>
		{{#each hotPosts}}
		<!-- Post -->
		<article class="post">
			<header>
				<div class="title">
					<h2>
						<a href="{{pathFor route='post' _id=_id}}">{{postTitle}}</a>
					</h2>
					<p>{{postAbstract postContent}}</p>
				</div>
				<div class="meta">
					<time class="published" datetime="{{momentFormate time}}">{{momentFormate time}}</time>
					<a href="user/{{accountId}}" class="author">
						<span class="name">{{postAuthor.profile.name}}</span>
						<img src="{{postAuthor.profile.avator}}" alt="" />
					</a>
				</div>
			</header>
			<a href="{{pathFor route='post' _id=_id}}" class="image featured">
				<img src="{{postImg}}" alt="" />
			</a>
			<p style="text-align: left;">
				{{{postUnescape postContent}}}
			</p>
			<footer>
				<ul class="actions">
					<li>
						<a href="/post/{{_id}}" class="button big">Continue Reading</a>
					</li>
				</ul>
				<ul class="stats">
					<li>
						{{#if favorite _id}}
							<a class="icon fa-heart active" data-favorite="{{favoriteId _id}}" data-post={{_id}}>{{postFavorite _id}}</a>
						{{else}}
							<a class="icon fa-heart" data-post={{_id}}>{{postFavorite _id}}</a>
						{{/if}}
					</li>
					<li>
						{{#if debate _id}}
							<a class="icon fa-comment active" data-post={{_id}}>{{postDebate _id}}</a>
						{{else}}
							<a class="icon fa-comment" data-post={{_id}}>{{postDebate _id}}</a>
						{{/if}}
						
					</li>
				</ul>
			</footer>
		</article>
		{{else}}
			<p>暂无数据</p>
		{{/each}}


		<!-- Sidebar -->
		<section id="sidebar">
			<h3>无妄之争</h3>
			<!-- Mini Posts -->
			<section>
				<div class="mini-posts">

					{{#each miniPost}}
					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h3>
								<a href="post/{{_id}}">{{postTitle}}</a>
							</h3>
							<time class="published" datetime="{{momentFormate time}}">{{momentFormate time}}</time>
							<a href="user/{{_accountId}}" class="author">
								{{postAuthor.profile.name}}
								<img src="{{postAuthor.profile.avator}}" alt="" />
							</a>
						</header>
						<a href="{{pathFor route='post' _id=_id}}" class="image">
							<img src="{{postImg}}" alt="" />
						</a>
					</article>
					{{/each}}

				</div>
			</section>

			<!-- About -->
			<!-- <section class="blurb">
				<ul class="actions">
					<li>
						<a href="#" class="button">加载更多</a>
					</li>
				</ul>
			</section> -->

		</section>
	</div>

	
	<!-- Pagination -->
	<!-- <ul class="actions pagination">
		<li>
			<a href="" class="disabled button big previous">Previous Page</a>
		</li>
		<li>
			<a href="#" class="button big next">Next Page</a>
		</li>
	</ul> -->
</template>