<template name="signin">
<!-- Wrapper -->
	<div id="wrapper" style="z-index:2">

		<!-- Main -->
			<section id="main">
				<header>
					<span class="avatar"><img src="{{avator}}" alt="" /></span>
					<h1>{{userName}}</h1>
				</header>
				<section>
					<form>
						<ul>
							<li class="signup-extends">
								<input type="text" name="name" placeholder="UserName/Telphone"/>
							</li>
							<li class="signup-extends">
								<input type="password" name="password" placeholder="Input the password"/>
							</li>
							<li class="signup-extends">
								<input type="submit" class="eventually-button" value="login"/>
							</li>
						</ul>
					</form>
				</section>
				<footer>
					<h3>使用其他账号登陆</h3>
					<ul class="identity-icons">
						<li><a class="fa-google-plus-square">Google</a></li>
						<li><a class="fa-weixin">Weixin</a></li>
						<li><a class="fa-weibo">Weibo</a></li>
					</ul>
				</footer>
			</section>

	</div>
</template>