body {
    background-color: #DADADA;
}
body > .grid {
    height: 100%;
}
/*.column {
    max-width: 450px;
}*/
/*.ui.grid {
	-webkit-box-orient: horizontal;
	text-align: center;
	justify-content: center;
}*/