<template name="user">
	<div class="row show-grid" style="width:100%">
		
		<div class="col-xs-4">
			<span class="image fit"><img src="{{user.profile.avator}}" alt="" /></span>
		</div>
		<div class="col-xs-8">
			<header>
				<h1>
				{{#if edit}}
					<input type="text" id="userName" value="{{user.profile.name}}" />
				{{else}}
					<strong id="userName">
						{{user.profile.name}}
					</strong>
				{{/if}}
				</h1>
			</header>
			{{#if edit}}
				<input type="text" id="aboutMe" value="{{user.profile.aboutMe}}" />
			{{else}}
				<p id="aboutMe">
					{{user.profile.aboutMe}}
				</p>
			{{/if}}
			<br/>
			{{#if edit}}
			{{else}}
				
				{{#if follower}}
					<a class="button big scrolly follow" data-follower="{{follower._id}}">
						已关注
					</a>
				{{else}}
					<a class="button big scrolly follow">
						关注我
					</a>
				{{/if}}
				
			{{/if}}
		</div>
		<div class="col-xs-12">
			<hr />
		</div>
		
	</div>
	
	<div class="row show-grid" style="width:100%">
		<div class="col-xs-12">
			<a>
				<section class="box style1">
					<span class="icon featured fa-comments-o">讨论</span>
				</section>
			</a>
		</div>
		
		<!-- <div class="col-xs-4">
			<section class="box style1">
				<span class="icon featured fa-camera-retro">图片</span>
			</section>
		</div>
		<div class="col-xs-4">
			<section class="box style1">
				<span class="icon featured fa-thumbs-o-up">赞</span>
			</section>
		</div> -->
	</div>
	<div class="row show-grid" style="width:100%">
		<div class="col-xs-12">
			<ul class="social">
				{{#if user.profile.googleId}}
				<li><a href="https://plus.google.com/{{user.profile.googleId}}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				{{/if}}
				{{#if user.profile.weiboId}}
				<li><a href="weibo.com/u/{{user.profile.weiboId}}" class="icon fa-weibo"><span class="label">weibo</span></a></li>
				{{/if}}
			</ul>
			<hr />
		</div>
	</div>

</template>