<template name="slider">
    <div class="slider">
        <ul class="slider-main">
            <li class="slider-btn-prev">prev</li>
            <li>
                <img src="./images/1.jpg" alt="">
            </li>
            <li>
                <img src="./images/2.jpg" alt="">
            </li>
            <li>
                <img src="./images/3.jpg" alt="">
            </li>
            <li>
                <img src="./images/4.jpg" alt="">
            </li>
            <li class="slider-btn-next">next</li>
        </ul>
    </div>
</template>